{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended",
    "eslint-config-prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": "off",
    "react/destructuring-assignment": [0, "never"],
    "react/prop-types": [0, {}],
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 120,
        "--no-semi": false
      }
    ]
  },
  "plugins": ["prettier"]
}
